Приложение ТуДу

*Весь UI на свое усмотрение.

Хедер :
В хедере представлен NavBar и кнопка смены темы (светлая , темная). Для мобилок сделать сделать хедер в виде бургер меню.

Мейн секция :
 
ХоумПейдж :
Пока оставить пустым.

ТуДуПейдж :

1) Список категорий

    Есть левое боковое меню с категориями. Есть статический блок "Все задачи". 
    Ниже от этого блока рендерятся все категории. Выбранная категория должна иметь уникальный стиль. 
    Ниже всех должна распологаться кнопка "Добавить категорию". При нажатии которой появляется модалка где необходимо ввести имя категории. 
    ВАЖНО!!! Категории уникальны, необходимо проверка, чтобы нельзя было добавить категориюю с таким же именем. Так же нельзя добавить категорию с пустой строкой.
    Меню категорий для мобилок должно быть представлено выше блока с задачами в виде слайдера(но тогда непонятно куда запихнуть кнопку с добавлением категории).

2) Список задач

    Задача, отображаемая в списке, должна иметь чекбокс, при чеке которого задача будет считаться завершенной.
    После чекбокса должно быть название задачи и кнопка удаления(при удалении необходимо будет сделать модалку с подтверждением удаления).
    Ниже всех задач должна быть кнопка "Добавить задачу", в которой необходимо ввести имя задачи и выбрать категорию(необязательно).
     Завершенные задачи должны отображаться ниже всех задач и кнопки "Добавить". В формате "Завершенные(0)" где вместо "0" количество завершенных задач.
     Завершенные задачи должны иметь уникальный стиль.
     Ограничений в имени задачи нет. Могут быть много задач с одинаковым названием.
    Также если задача добавляется, когда есть активная категория, то чекбокс/радио этой категории заранее активен.
    Необходимо сделать верификацию при добавлении задачи, что имя задачи не пустая строка.
    При нажатии на саму задачу(за исключением удаления и чекбокса) должна выводится карточка задачи. 
    В карточке задачи можно будет поменять название задачи, добавить описание, поменять/добавить категорию, а также удалить задачу.
    Карточка должна закрываться, либо по нажатию на крестик внутри карточки, либо по нажатию вне самой карточки.
    *ОПЦИОНАЛЬНО - При добавлении/удалении задачи/категории всплывает уведомление "Задача успешно добавлена/удалена"

КалендарПейдж :

    Рендерится календарь текущего месяца. Сегодняшний день должен быть обведен/отличаться от других. 
    Над календарем будет отображаться текущий месяц в виде "Июль 2023". ОПЦИОНАЛЬНО - Добавить стрелки, которыми можно переключать месяц.
    При клике на какой-то день открывается "Карточка дня". В карточке дня можно посмотреть все задачи на этот день.
    Карточка дня должна закрываться аналогично карточке задачи.
    Отображение задачи в карточке дня аналогично отображению в ТуДуПейдже(т.е. можно впринципе использовать тот же компонент). 
    Так же при нажатии на задачу, открывается карточка задачи, описанная в ТуДуПейдж.



Футер :  В футере отображается контактная информация :
  -ссылка на гитхаб
  -ссылка на hh
  -ссылка на тг
  -ссылка на кодварс